@media screen and (max-width:1400px){
    #profile{
        height:83vh;
        margin-bottom:6rem;
    }
    .about-containers{
        flex-wrap:wrap;
    }
}
@media screen and (max-width:768px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
    #experience, .experience-details-container{
        margin-top:2rem;
    }
    #profile{
        padding:2rem 1rem;
    }
    #profile.section-container{
        flex-direction:column;
        text-align:center;
    }
    .section__text{
        text-align:center;
    }
    .arrow{
        display:none;
    }
    section,
    .section-container{
        height:fit-content;
    }
    section{
        margin:0.5%;
    }
    .projects-container{
        display:flex;
        flex-direction:row;
        justify-content:center;
        gap:2rem;
        flex-wrap:wrap;
        align-items:strech;
    }
    .project-card{
        flex:1 1 45%;
        max-width:500px;
        background:#f9f9f9;
        padding:2rem;
        border-radius:1rem;
        box-shadow:0 4px 10px rgba(0,0,0,0.1);
        text-align:center;
        width:100%;
    }
    .section__pic-container{
        width:200px;
        height:200px;
        margin:0 auto 2rem;
    }
    .about-containers{
        margin-top:0;
    }
    .title{
        font-size:2rem;
    }
    .contact-info-container{
        flex-direction:column;
        text-align:center;
    }
    .project-img{
        width:100%;
        max-width:250px;
    }
}
@media screen and (max-width:600px){
    #contact,
    footer{
        height:40vh;
    }
    #profile{
        height:83vh;
        margin-bottom:0;
    }
    article{
        font-size:1rem;
    }
    footer nav{
        height:fit-content;
        margin-bottom:2rem;
    }
    .about-containers,.contact-info-upper-container,.btn-container{
        flex-wrap:wrap;
    }
    .contact-info-container{
        margin:0;
    }
    .contact-info-container p,
    .nav-links li a{
        font-size:1rem;
    }
    .experience-sub-title{
        font-size:1.25rem;
    }
    .logo{
        font-size:1.5rem;
    }
    .nav-links{
        flex-direction:column;
        gap:0.5rem;
        text-align:center;
    }
    .section__pic-container img{
        width:150px;
        height:150px;
        justify-content:center;
    }
    .section__text__p2{
        font-size:1rem;
    }
    .title{
        font-size:1.8rem;
    }
    .text.container{
        text-align:justify;
    }
}